.container {
    width: 100%;  
}
.box-control{
    width: 1251px;
    height: 270px;
    display: flex;
    margin: 50px auto 0 auto;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    background: #E6F7FF;
    border-radius: 16px;

}
.title-search {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 46px;
    margin: 0 94px;
}

.inputForm{
    width: 676px;
    height: 40px;
    margin: 12px 94px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
}
